<!-- FILTER BAR -->
<div id="date" class="container-fluid">
  <form id="selectMeetGreet">
    <h3 id="chooseSessionSelector">Select Meet & Greet Session:</h3>
    <select class="selectNavDropDown" id="selectedMeetGreet" name="selectedSession">
      <option selected disabled>--SELECT--</option>
      <% @events.each do |course| %>
      <option value="<%=course.id%>"><%=course.name%></option>
      <%end%>
    </select>
    <button id="submitBtnSession" class="btn pinkColour" type="submit">Submit</button>
  </form>
</div>

<!-- <div class="container" id="requestSelect"></br><h2>Our courses!</h2></div>
<div class="card-deck-wrapper" id="classesInfo">
  <% @courses.each do |course| %>
    <div class="card cardShadow alignCenter">
      <a class="courseLinks" href="<%=course.link%>">
        <img class="card-img-top cardImage" src="<%=course.picture_url%>" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><%=course.name%></h4>
          <p class="card-text"><%=course.description%></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </a>
    </div>
  <%end%>
</div> -->

<!-- COURSE INFORMATION -->
<div class="container" id="infoOnClasses">
  <div class="card-deck-wrapper" id="classesInfo">
    <div class="card-deck">
      <div class="card cardShadow alignCenter">
        <a class="courseLinks" href="https://generalassemb.ly/education/web-development-immersive/singapore">
          <img class="card-img-top cardImage" src="/assets/public/wdi.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Web Development</h4>
            <p class="card-text">Learn the skills to become an entry level Full Stack Web Developer! 12 weeks, all day, EVERYDAY!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </a>
      </div>
      <div class="card cardShadow alignCenter">
        <a class="courseLinks" href="https://generalassemb.ly/education/user-experience-design-immersive/singapore">
          <div class="card-block">
            <h4 class="card-title">UX</h4>
            <p class="card-text">Learn the skills of a UX designer and put them to work while building a comprehensive portfolio. 10 weeks, all day, Monday through Friday!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <img class="card-img-bottom cardImage" src="/assets/public/ux.png" alt="Card image cap">
        </a>
      </div>
      <div class="card cardShadow alignCenter">
        <a class="courseLinks" href="https://generalassemb.ly/education/ios-development-immersive/singapore">
          <img class="card-img-top cardImage" src="/assets/public/ios.png" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">iOS Development</h4>
            <p class="card-text">Train in the coding, design, and iteration skills essential to build your own iOS app!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </a>
      </div>
      <div class="card cardShadow alignCenter">
        <a class="courseLinks" href="https://generalassemb.ly/education/android-development-immersive/singapore">
          <div class="card-block">
            <h4 class="card-title">Android Development</h4>
            <p class="card-text">Train in the coding, design, and iteration skills essential to build your own Android app!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <img class="card-img-bottom cardImage" src="/assets/public/android.jpg" alt="Card image cap">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="forAjax">
  <!-- LIST OF STUDENTS -->
  <div class="col-sm-6 col-md-7">
    <div class="container" id="studentDetails">
    </div>
  </div>
  <!-- SESSION DETAILS -->
  <div class="col-sm-6 offset-md-1 col-md-3" id="sessionDetails">
  </div>
</div>

<%= render "partials/footer" %>
