<div class="container loginButton">
  <img id="logoSize" src="/assets/public/galogo.png"/>
</div>
  <div class="loginButton form-group">
    <%= form_for :student do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "example@email.com", class:"form-control" %>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "password", class:"form-control" %>
        <br>
        <div class="loginButton">
          <%= f.submit "Login", class:"btn pinkColour loginPage", id:"submit-button loginForm"%>
        </div>
    <% end %>
  </div>

  <div id="login-right">
    <img id="login-right-pic" src="http://i.imgur.com/nTbLEfV.png"></img>
  </div>
