<style media="screen">

.h2-special {
  font-family: "PFDin", Impact, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.9;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  font-size: 2.75rem;
}

.label-special {
  display: block;
  margin: 16px 0px 4px;
  margin: 1rem 0rem 0.25rem;
  font-family: "Circular", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-size: 0.85rem;
  line-height: 1.5;
}

.input-special-login {
  border: 1px solid #dadada;
  border-radius: 0;
  background-color: #ffffff;
  font-size: 15px;
  font-size: 1rem;
  font-family: "Circular", Helvetica, Arial, sans-serif;
  font-weight: 300;
  outline: none;
  color: #222222;
  display: block;
  margin: 0px 0px 16px 0px;
  margin: 0rem 0rem 1rem 0rem;
  padding: 16px;
  padding: 1rem;
  width: 100%;
}

.input-special-submit {
  display: inline-block;
  margin-bottom: 3px;
  padding: 13px 32px;
  padding: 0.8125rem 2rem;
  border: 0;
  font-family: "Circular", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 3px;
  color: #ffffff;
  background-color: #fa4542;
  box-shadow: 0 3px 0 0 #a20101;
  text-decoration: none;
  width: 100%;
}

.form-container-signup {
  margin-top: 100px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:60px;
    }
}

.container-name-special {
  padding: 0;
}

.anchor-special {
  color: #222222;
  font-size: 20px;
  font-family: "News 706", Georgia, serif;
  line-height: 1.4;
}

.alternate-signup {
  text-align: center;
  border: 1px solid #ececec;
  margin: 2rem 17px;
  padding: 1rem;
  width: 95%;
}


</style>


<div class="form-group" id="signup-form">
  <%= form_for(student) do |f| %>

  <div class="container col-md-6 offset-md-3 form-container-signup">
    <h2 class="h2-special">SIGN UP</h2>

    <div class="form-group col-md-5 container-name-special">
      <%= f.label :first_name, class: "label-special"%>
      <%= f.text_field :first_name, placeholder: "First Name", class: "input-special-login" %>
    </div>

    <div class="form-group col-md-5 offset-md-2 container-name-special">
      <%= f.label :last_name, class: "label-special" %>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "input-special-login" %>
    </div>

    <div class="form-group"><div>
      <%= f.label :email, class: "label-special" %>
      <%= f.text_field :email, placeholder: "example@email.com", class: "input-special-login" %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "label-special" %>
      <%= f.password_field :password, placeholder: "Password", class: "input-special-login" %>
    </div>

    <div class="form-group">
      <%= f.label :course, class: "label-special select-special" %>
      <%= f.select :course_id, Course.all.collect {|x| [x.name, x.id]}, {}, class: "input-special-login" %>
    </div>

    <div class="form-group">
      <%= f.label :event, class: "label-special select-special" %>
      <%= f.select :event_id, Event.all.collect {|x| [x.name, x.id]}, {}, class: "input-special-login" %>
    </div>

    <div>
      <%= f.submit "Create", class:"input-special-submit" %>
      <!-- <%= f.submit "Login", class:"btn pinkColour loginPage", id:"submit-button loginForm"%> -->
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 alternate-signup">
      <span class="anchor-special"> Have an account? </span>
      <a class="anchor-special" href="/students/new">Sign In!</a>
    </div>
  </div>
</div>
