<p id="notice"><%= notice %></p>

<div class="container">
  <%= render "partials/verticleColumn" %>

  <!-- ============ FIRST EDIT BOX ============ -->
  <div class="offset-md-1 col-md-8">
    <h3 id="titleHeader">Course Information</h3>
    <div class="card">
      <div class="card-header">
        Course Information
      </div>
      <div class="card-block">
        <table>
          <tr>
            <th class="tableHeaderWidth">Course:</th>
            <% @student.courses.each do |course| %>
            <td><%= course.name %></td>
            <%end%>
          </tr>
          <tr>
            <th class="tableHeaderWidth">Event:</th>
            <td><%= @student.event.name %></td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn pinkColour editButton" data-toggle="modal" data-target="#courseInfoEdit">
        Edit
      </button>
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="courseInfoEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Course Information</h4>
          </div>
          <!-- ============ FORM ============ -->
          <%= form_for(@student) do |f| %>

          <div class="modal-body">
            <div class="form-group row field">
              <%= f.label :course, class: "col-xs-3 col-form-label" %>
              <%= f.select :course_ids, Course.all.collect {|x| [x.name, x.id]}, {}, class: "col-xs-7 form-control selectForm" %>

            </div>
            <div class="form-group row field">
              <%= f.label :event, class: "col-xs-3 col-form-label" %>
              <%= f.select :event_id, Event.all.collect {|x| [x.name, x.id]}, {}, class: "col-xs-7 form-control selectForm" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn pinkColour">Save changes</button>
          </div>
          <!-- ============ FORM END ============ -->
          <%end%>
        </div>
      </div>
    </div>
    <!-- ============ MODAL END ============ -->
  </div>
</div>

<!-- ============ SECOND EDIT BOX ============ -->
<div class="offset-md-1 col-md-8">
  <h3 id="titleHeader">Past Education</h3>
  <div class="card">
    <div class="card-header">
      Past Education
    </div>
    <div class="card-block">
      <table>
        <tr>
          <th class="tableHeaderWidth">School:</th>
          <td><%= @student.school %></td>
        </tr>
        <tr>
          <th class="tableHeaderWidth">Highest Qualification:</th>
          <td><%= @student.qualification %></td>
        </tr>
        <tr>
          <th class="tableHeaderWidth">Specialisation:</th>
          <td><%= @student.degree %></td>
        </tr>
        <tr>
          <th class="tableHeaderWidth">Graduation Date:</th>
          <td><%= @student.graduation %></td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn pinkColour editButton" data-toggle="modal" data-target="#educationEdit">
      Edit
    </button>
  </div>

  <!-- MODAL -->
  <div class="modal fade" id="educationEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Past Education</h4>
        </div>
        <!-- ============ FORM ============ -->
        <%= form_for(@student) do |f| %>

        <div class="modal-body">
          <div class="form-group row field">
            <%= f.label :school, class: "col-xs-3 col-form-label" %>
            <%= f.text_field :school, value: current_student.school, class: 'col-xs-8'%>
          </div>
          <div class="form-group row field">
            <%= f.label :qualification, class: "col-xs-3 col-form-label" %>
            <select class="form-control col-xs-8 selectForm">
              <option disabled>--SELECT--</option>
              <option value = "Ph.D">Ph.D</option>
              <option value = "Master's Degree">Master's Degree</option>
              <option value = "Bachelor's Degree">Bachelor's Degree</option>
              <option value = "Diploma">Diploma</option>
              <option value = "GCE 'A' Levels">GCE 'A' Levels</option>
              <option value = "GCE 'O' Levels">GCE 'O' Levels</option>
            </select>
          </div>
          <div class="form-group row field">
            <%= f.label :degree, class: "col-xs-3 col-form-label" %>
            <%= f.text_field :degree, value: current_student.degree, class: 'col-xs-8' %>
          </div>
          <div class="form-group row field">
            <%= f.label :graduation, class: "col-xs-3 col-form-label" %>
            <%= f.date_field :graduation, value: current_student.graduation, class: 'col-xs-8' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn pinkColour">Save changes</button>
        </div>
        <!-- ============ FORM END ============ -->
        <%end%>
      </div>
    </div>
  </div>
  <!-- ============ MODAL END ============ -->
</div>
