
  <!-- ========= COVER PHOTO ========= -->
    <div id="cover_photo">
      <img id="photo" src="<%=@student.profile_pic_url%>"/>
    </div>


    <!-- ========= QUOTE ========= -->
    <div id="quote">
      "<%=@student.description%>"
    <p id="endQuote">- <%=@student.first_name%> <%=@student.last_name%></p>
    </div>

    <div  class="container-fluid" id="profileFill">
      <!-- ========= LEFT BAR ========= -->
      <div id="contact" class="offset-md-1 col-md-3">
        <div class="card card-block">
          <h4 class="card-title"><%=@student.name%></h4>
          <h6 class="card-subtitle text-muted"><%=@student.course.name%></h6></br>
          <p class=><b>Event Details:</b></br>
          <span class="text-muted"><%=@student.event.description%></br>
          <%=@student.event.date%></br>
          <%=@student.event.start%></p></br></span>

          <p><a class="profileIcon" href="mailto:<%=@student.email%>"><img src="/assets/public/email.png"/> Email</a></p>
          <p><a class="profileIcon" href="<%=@student.website%>"><img src="/assets/public/website.png"/> Website</a></p>
          <p><a class="profileIcon" href="<%=@student.github%>"><img src="/assets/public/github.png"/> Github</a></p>
          <p><a class="profileIcon" href="<%=@student.linkedin%>"><img src="/assets/public/linkedin.png"/> Linkedin</a></p>

        </div>
      </div>

      <!-- ========= RIGHT BAR ========= -->
      <div class="offset-md-1 col-md-6">
        <!-- START OF TOGGLE BAR -->
        <div class="toggleBar">
          <div id="prev"><img class="arrows" src="/assets/public/left arrow.png" alt="" /></div>
          <div class="boxAxis">
            <div class="container-fluid axis" id="rotatingPlaneProfile">
              <div class="carousel">
                <div class="item a">
                  <div class="pane-title">Profile</div>
                </div>
                <div class="item b">
                  <div class="pane-title">Video</div>
                </div>
                <div class="item c">
                  <div class="pane-title">Projects</div>
                </div>
                <div class="item d">
                  <div class="pane-title">Past Experience</div>
                </div>
              </div>
            </div>
            <div id="next"><img class="arrows" src="/assets/public/right arrow.png"/></div>
          </div>
        </div>
        <!-- END OF TOGGLE BAR -->
        <div class="container-fluid" id="informationBox">
          <!-- PROFILE -->
          <div class="container-fluid toggleInfo" id="infoProfile">
            <h3 class="bigFatName"><%=@student.first_name%> <%=@student.last_name%></h3>
            <h6 class="text-muted"><%=@student.one_liner%></h6>
            </br>
            <p><img src="/assets/public/education.png"/> <%=@student.degree%> at <%=@student.school%></p>
            <p><img src="/assets/public/location.png"/> Singapore</p>
            <p>Languages: </br>
            <% @student.languages.each do |language| %>
              <span class='tag pinkColour tagSpacing'> <%= language.name %> </span>
            <%end%>
            </p>
          </div>
          <!-- VIDEO -->
          <div class="container-fluid toggleInfo" id="infoVideo">
            <h3 class="bigFatName">Video Introduction</h3>
            <h6 class="text-muted"><%=@student.one_liner%></h6>
            </br>
            <div class="alignMiddle">
              <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/6Dakd7EIgBE" frameborder="0" allowfullscreen></iframe> -->
              <iframe width="560" height="315" src="<%=@student.video%>" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>

          <!-- PROJECTS-->
          <div class="container-fluid toggleInfo" id="infoProjects">
            <% i = 1 %>
            <%@student.projects.each do |project|%>
              <div>
                <h3 class="bigFatName"><%=project.name%></h3>
                <h6 class="text-muted"><%=project.description%></h6>
                <p><a class="profileIcon" href="<%=project.site%>"><img src="/assets/public/website.png"/> Deployed Site</a></p>
                <p><a class="profileIcon" href="<%=project.site%>"><img src="/assets/public/github.png"/> Github</a></p>
                </br>
                <div class="alignMiddle">
                  <iframe src="<%=project.project_gifs%>" width="300" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                  <!-- <iframe src="//giphy.com/embed/zA2aQyUmncvtK?html5=true" width="300" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->
                </div>
              </div>
              <% i += 1 %>
            <%end%>
          </div>

          <!-- JOB EXPERIENCES -->
          <div class="container-fluid toggleInfo" id="infoExperiences">
            <%jobs = @student.works.sort_by &:end %>
            <%job = jobs.reverse! %>
            <%@student.works = job %>
            <%@student.works.each do |work|%>
              <h3 class="bigFatName"><%=work.title%></h3>
              <h6 class="text-muted">
                <div><%=work.company%></div>
                <div id="workDates"><i><%=work.start.to_formatted_s(:rfc822)%> - <%=work.end.to_formatted_s(:rfc822)%></i></div>
              </h6>
              <p><%=work.description%></p>
            <%end%>
          </div>

        </div>
      </div>
    </div>

    <!-- <%= render "partials/footer" %> -->
