<div class="container topMarginBuffer">
  <p id="notice"><%= notice %></p>
  <%= render "partials/verticleColumn" %>

  <div class="offset-md-1 col-md-8">

    <h3 id="titleHeader">Past Job Experiences</h3>

    <% if current_student%>
      <% @student.works.each do |work| %>
        <div class="card">
          <div class="card-header">
            <%= work.company %>
          </div>
          <div class="card-block">
            <table>
              <tr>
                <th class="tableHeaderWidth">Position:</th>
                <td><%= work.title %></td>
              </tr>
              <tr>
                <th class="tableHeaderWidth">Duration:</th>
                <td><%= work.start %> to <%=work.end%></td>
              </tr>
              <tr>
                <th class="tableHeaderWidth">Description:</th>
                <td><%= work.description %></td>
              </tr>
            </table>

            <div class="buttonBox">
              <button type="button" class="btn pinkColour editButton editButtonSpecial" data-toggle="modal" data-target="#work<%=work.id%>">
                Edit
              </button>
              <%= button_to "Delete", work, :method => :delete, class: "btn pinkColour editButton editButtonSpecial" %>
            </div>
          </div>
        </div>

    <!-- MODAL -->
        <div class="modal fade" id="work<%=work.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><%=work.company%></h4>
              </div>
              <!-- ============ FORM ============ -->

              <%= form_for(work) do |f| %>

              <div class="modal-body">
                <div class="form-group row field">
                  <%= f.label :company, class: "col-xs-3 col-form-label" %>
                  <%= f.text_field :company, value: work.company, class: 'col-xs-8'%>
                </div>
                <div class="form-group row field">
                  <%= f.label :title, class: "col-xs-3 col-form-label" %>
                  <%= f.text_field :title, value: work.title, class: 'col-xs-8'%>
                </div>
                <div class="form-group row field">
                  <%= f.label :start, class: "col-xs-3 col-form-label" %>
                  <%= f.date_field :start, value: work.start, class: 'col-xs-8'%>
                </div>
                <div class="form-group row field">
                  <%= f.label :end, class: "col-xs-3 col-form-label" %>
                  <%= f.date_field :end, value: work.end, class: 'col-xs-8'%>
                </div>
                <div class="form-group row field">
                  <%= f.label :description, class: "col-xs-3 col-form-label" %>
                  <%= f.text_area :description, value: work.description, class: 'col-xs-8'%>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn pinkColour">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              <!-- ============ FORM END ============ -->
              <%end%>
            </div>
          </div>
        </div>
    <!-- ============ MODAL END ============ -->
      <% end %>
    <% end %>

    <!-- ============ CREATE NEW ============ -->
    <% if current_student.works.length == 0%>
      <div class="col-md-9 col-md-offset-3">
        <button type="button" class="btn pinkColour editButton createNew" data-toggle="modal" data-target="#createNewEntry">
          Create New Entry
        </button>
      </div>
    <% end %>
    <!-- MODAL -->
    <div class="modal fade" id="createNewEntry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">New Entry</h4>
          </div>
          <!-- ============ FORM ============ -->

          <% work = @work %>
          <%= form_for(work) do |f| %>
          <div class="modal-body">
            <div class="form-group row field">
              <%= f.label :company, class: "col-xs-3 col-form-label" %>
              <%= f.text_field :company, class: 'col-xs-8'%>
            </div>
            <div class="form-group row field">
              <%= f.label :title, class: "col-xs-3 col-form-label" %>
              <%= f.text_field :title, class: 'col-xs-8'%>
            </div>
            <div class="form-group row field">
              <%= f.label :start, class: "col-xs-3 col-form-label" %>
              <%= f.date_field :start, class: 'col-xs-8'%>
            </div>
            <div class="form-group row field">
              <%= f.label :end, class: "col-xs-3 col-form-label" %>
              <%= f.date_field :end, class: 'col-xs-8'%>
            </div>
            <div class="form-group row field">
              <%= f.label :description, class: "col-xs-3 col-form-label" %>
              <%= f.text_area :description, class: 'col-xs-8'%>
            </div>
          </div>
          <div class="modal-footer">
            <%= button_to "Create", work, :method => :create, class: "btn pinkColour editButton editButtonSpecial" %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          <% end %>
          <!-- ============ FORM END ============ -->
        </div>
      </div>
      <!-- ============ MODAL END ============ -->
    </div>
  </div>
</div>
