<style>
  table, thead, tr, td, th {

    padding: 10px;
    text-align: center;
  }

  .mine {
    margin: 0;
  }
</style>


<div class="container">
  <%= render "partials/adminDashBoard" %>

  <h3 id="titleHeader">Students' Work Experience</h3>

  <!-- ============ FIRST EDIT BOX ============ -->
  <div class="offset-md-1 col-md-8">
    <div class="card">
      <div class="card-header">
        Students' Work Experience
      </div>
      <div class="card-block">
        <table>
          <thead>
            <tr>
              <th>Student</th>
              <th>Company</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
          <% @works.each do |work| %>
            <tr>
              <td><%= work.student.name %></td>
              <td><%= work.company %></td>
              <td><%= work.title %></td>
              <td>
                <button type="button" class="btn pinkColour editButton mine" data-toggle="modal" data-target="#workInfoEdit-<%=work.id%>">
                  Edit
                </button>
              </td>
              <td>
                <%= button_to "Delete", work, :method => :delete, class: "btn pinkColour editButton mine" %>
              </td>
            </tr>
          </tbody>

          <!-- MODAL FOR EDIT -->
          <div class="modal fade" id="workInfoEdit-<%=work.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- this is the x close button at the top right hand corner of modal -->
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Work Details</h4>
                </div>
                <!-- ============ FORM ============ -->
                <%= form_for(work) do |f| %>

                  <div class="modal-body">
                    <div class="form-group row field">
                      <%= f.label :company, class: "col-xs-3 col-form-label" %>
                      <%= f.text_field :company, value: work.company, class: 'col-xs-8'%>
                    </div>
                    <div class="form-group row field">
                        <%= f.label :title, class: "col-xs-3 col-form-label" %>
                        <%= f.text_field :title, value: work.title, class: 'col-xs-8'%>
                    </div>
                    <div class="form-group row field">
                        <%= f.label :start, class: "col-xs-3 col-form-label" %>
                        <%= f.date_field :start, value: work.start, class: 'col-xs-8'%>
                    </div>
                    <div class="form-group row field">
                        <%= f.label :end, class: "col-xs-3 col-form-label" %>
                        <%= f.date_field :end, value: work.end, class: 'col-xs-8'%>
                    </div>
                    <div class="form-group row field">
                        <%= f.label :description, class: "col-xs-3 col-form-label" %>
                        <%= f.text_area :description, value: work.description, class: 'col-xs-8'%>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn pinkColour">Save changes</button>
                  </div>
                <!-- ============ FORM END ============ -->
                <%end%>
              </div>
            </div>
          </div>
            <!-- ============ MODAL EDIT END ============ -->



          <% end %>
        </table>

      </div>


    </div>


  </div>

</div>
