<nav class="navbar navbar-fixed-top navbar-light" id="navBar" style="background-color: #000000;">
  <div class="nav navbar-nav">
    <a id="GAname" class="navBarColor" href="/"><img class="gaLogo" src="http://res.cloudinary.com/di820hhex/image/upload/v1478683360/gt5lzgkxhnie9im54vug.png"/> GENERAL ASSEMBLY</a>

    <% if current_student %>
      <% if current_student.admin %>
        <%= link_to 'Logout', logout_url, class:"nav-item nav-link pull-xs-right", method: :delete, data: {confirm: 'Are you sure?'}%>
        <a class="nav-item nav-link pull-xs-right" href="/students/<%=current_student.id%>">Profile</a>
        <a class="nav-item nav-link pull-xs-right" href="/admin">Admin</a>
        <span class="nav-link userName pull-xs-right">Welcome, <%=current_student.first_name%>!</span>
      <% else %>
        <%= link_to 'Logout', logout_url, class:"nav-item nav-link pull-xs-right", method: :delete, data: {confirm: 'Are you sure?'}%>
        <a class="nav-item nav-link pull-xs-right" href="/students/<%=current_student.id%>">Profile</a>
        <span class="nav-link userName pull-xs-right">Welcome, <%=current_student.first_name%>!</span>
      <% end %>
    <% else %>
      <a class="nav-item nav-link pull-xs-right" href="/login">Graduate Log In</a>
      <a class="nav-item nav-link pull-xs-right" href="/students/new">Graduate Sign Up</a>
    <% end %>

  </div>
</nav>
