<nav class="navbar navbar-fixed-top navbar-light" style="background-color: #ffffff;">
  <div class="nav navbar-nav">
    <a class="navbar-brand" href="/"><img src="http://i.imgur.com/4006cp5.png"></a>

    <% if current_student %>
      <% if current_student.admin %>
        <%= link_to 'Logout', logout_url, class:"nav-item nav-link pull-xs-right", id: "login-button", method: :delete, data: {confirm: 'Are you sure?'}%>
        <a class="nav-item nav-link pull-xs-right" id="login-button" href="/students/<%=current_student.id%>">Profile</a>
        <a class="nav-item nav-link pull-xs-right" id="login-button" href="/students/<%=current_student.id%>">Admin</a>
      <% else %>
        <%= link_to 'Logout', logout_url, class:"nav-item nav-link pull-xs-right", id: "login-button", method: :delete, data: {confirm: 'Are you sure?'}%>
        <a class="nav-item nav-link pull-xs-right" id="login-button" href="/students/<%=current_student.id%>">Profile</a>
      <% end %>
    <% else %>
      <a class="nav-item nav-link pull-xs-right" href="/login"><button id="login-button">Graduate Log In</button></a>
      <a class="nav-item nav-link pull-xs-right" href="/students/new"><button id="login-button">Sign Up</button></a>
    <% end %>


  </div>
</nav>

<!--<a href="/">Home</a>-->


<!--<% if @current_student %>-->
<!--  <% if @current_student.admin %>-->
<!--    <a href="/courses">Courses</a>-->
<!--    <a href="/languages">Languages</a>-->
<!--    <a href="/events">Events</a>-->
<!--  <%end%>-->
<!--<%end%>-->

<!--<% if current_student.present? %>-->
<!--  <a href="/students/<%=current_student.id%>">Profile</a>-->
<!--  <a href="/projects">Projects</a>-->
<!--  <a href="/works">Job History</a>-->
<!--  <%= link_to 'Logout', logout_url, method: :delete, data: {confirm: 'Are you sure?'}%>-->
<!--<% else%>-->
<!--  <a href="/login">Login</a>-->
<!--  <a href="/students/new">Sign Up</a>-->
<!--<%end%>-->

<!--<% if current_student.present? %>-->
<!--  <a href="/students/<%=current_student.id%>">Profile</a>-->
<!--  <%= link_to 'Logout', logout_url, method: :delete, data: {confirm: 'Are you sure?'}%>-->
<!--<% else%>-->
<!--  <a href="/login">Login</a>-->
<!--  <a href="/students/new">Sign Up</a>-->
<!--<%end%>-->
