<div class="col-md-3">
  <h3 id="titleHeader">Profile Navigation</h3>
  <div class="card">
    <div class="card-header">
      Manage Profile
    </div>
    <div class="card-block">
      <ul class="nav nav-pills nav-stacked container-fluid">
        <li class="nav-item pink">
          <a class="nav-link" href="/students/<%= current_student.id%>">General Information</a>
        </li>
        <li class="nav-item pink">
          <a class="nav-link" href="/students/<%= current_student.id%>/profile_pic">Profile Picture</a>
        </li>
        <li class="nav-item pink">
          <a class="nav-link" href="/students/<%= current_student.id%>/education">Education</a>
        </li>
        <li class="nav-item pink">
          <a class="nav-link" href="/works">Work</a>
        </li>
        <li class="nav-item pink">
          <a class="nav-link" href="/projects">Project</a>
        </li>
        <br>
        <% if current_student.status == 0 %>
          <%= form_for(@student) do |f| %>
            <%= f.text_field :status, value: "1", type: "hidden"%>
            <%= f.submit "Go Live", class: "btn pinkColour submissionButton"%>
          <% end %>
        <% elsif current_student.status == 1 %>
          <button class="btn btn-warning submissionButton" disabled>Pending</button>
        <% elsif current_student.status == 2 %>
          <button class="btn btn-success submissionButton" disabled>Live</button>
        <% end %>
      </ul>
    </div>
  </div>
</div>
