<div class="container">
  <%= render "partials/adminDashBoard" %>

  <h3 id="titleHeader">Languages</h3>

  <!-- ============ FIRST EDIT BOX ============ -->
  <div class="offset-md-1 col-md-8">
    <!-- <h3 id="titleHeader">General Information</h3> -->
    <div class="card">
      <div class="card-header">
        Language
      </div>
      <div class="card-block">
        <table>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
          <% @languages.each do |language| %>
            <tr>
              <td><%= language.name %></td>
              <td>
                <button type="button" class="btn pinkColour editButton" data-toggle="modal" data-target="#languageInfoEdit">
                  Edit
                </button>
              </td>
              <td>
                <%= button_to "Delete", language, :method => :delete, class: "btn pinkColour editButton" %>
              </td>
            </tr>
          </tbody>

          <!-- MODAL FOR EDIT -->
          <div class="modal fade" id="languageInfoEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- this is the x close button at the top right hand corner of modal -->
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Language Details</h4>
                </div>
                <!-- ============ FORM ============ -->
                <%= form_for(language) do |f| %>

                  <div class="modal-body">
                    <div class="form-group row field">
                        <%= f.label :name, class: "col-xs-3 col-form-label" %>
                        <%= f.text_field :name, value: language.name, class: 'col-xs-8'%>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn pinkColour">Save changes</button>
                  </div>
                <!-- ============ FORM END ============ -->
                <%end%>
              </div>
            </div>
          </div>
            <!-- ============ MODAL EDIT END ============ -->



          <% end %>
        </table>

      </div>


    </div>

    <!-- ============ CREATE NEW COURSE ============ -->
    <div class="container">
      <button type="button" class="btn pinkColour editButton createNew" data-toggle="modal" data-target="#createNewEntry">
        Add New Language
      </button>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="createNewEntry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">New Entry</h4>
          </div>
          <!-- ============ FORM ============ -->

          <% language = @language %>
          <%= form_for(language) do |f| %>
          <div class="modal-body">
            <div class="form-group row field">
              <%= f.label :name, class: "col-xs-3 col-form-label" %>
              <%= f.text_field :name, class: 'col-xs-8'%>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= button_to "Create", language, :method => :create, class: "btn pinkColour editButton" %>
          </div>
          <% end %>
          <!-- ============ FORM END ============ -->
        </div>
      </div>
    </div>
      <!-- ============ MODAL END ============ -->


  </div>

</div>
