<!DOCTYPE html>
<html>
  <head>
    <title>GA Profile Revamp</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "partials/navbar" %>
    <%= render "partials/flash" %>

  <div class="container">
    <% if @current_student %>
    <h1>Welcome, <%=@current_student.first_name%>!</h1>
    <%end%>
  </div>

  <%= yield %>



  </body>
</html>
